.load {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border:10px solid grey;
    /* border-top: 10px solid rgba(230, 197, 6, 0.9); */
    /* animation:  spin 3s linear  4 normal; */
    /* background-color: coral; */
    position: absolute;
    top: 250px;
    left:600px;
}

.load1  {
      height: 100px;
    width: 100px;
    border-radius: 50%;
    border:10px dotted black;
    /* border-top: 10px solid rgba(230, 197, 6, 0.9); */
    animation:  spin 3s linear  4 normal;
    /* background-color: coral; */
    position: absolute;
    top: 250px;
    left:600px;
     } 
 

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform:rotate(360deg);
    }
}